<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="COM_MAILTO_FIELDSET_BASIC_LABEL"
		description=""
		>

		<field
			name="group_send"
			type="list"
			label="COM_MAILTO_FIELD_GROUP_SEND_LABEL"
			description="COM_MAILTO_FIELD_GROUP_SEND_DESC">
			<option value="">COM_MAILTO_OPTION_SEND_NORMAL</option>
			<option value="cc">COM_MAILTO_OPTION_SEND_CC</option>
			<option value="bcc">COM_MAILTO_OPTION_SEND_BCC</option>
		</field>

		<field
			name="group_from_name"
			type="text"
			size="60"
			label="COM_MAILTO_FIELD_GROUP_FROM_NAME_LABEL"
			description="COM_MAILTO_FIELD_GROUP_FROM_NAME_DESC"
			/>

		<field
			name="group_from_mail"
			type="text"
			size="60"
			label="COM_MAILTO_FIELD_GROUP_FROM_MAIL_LABEL"
			description="COM_MAILTO_FIELD_GROUP_FROM_MAIL_DESC"
			/>

		<field
			name="stylesheets"
			type="textarea"
			label="COM_MAILTO_FIELD_STYLESHEETS_LABEL"
			description="COM_MAILTO_FIELD_STYLESHEETS_DESC" 
			cols="60"
			rows="6" />
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="mailto"
			section="component" />
	</fieldset>
</config>